
.idea/
Client.UnitTests/bower_components/
Client.UnitTests/node_modules/
Client.UnitTests/typings/
E2E.Tests/bower_components/
E2E.Tests/node_modules/
E2E.Tests/typings/
E2E.Tests/**/*.map
E2E.Tests/**/*.js
!protractor.conf.js
